/* body {
  background-color: #ffffff;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}
h1.horse {
  font-size: 2em;
}

p {
  color: #FF0000;
  font-family: "Times New Roman", Times, serif;
}

#doggy .horse > div {
  display: hidden;
} */
